#add-teacher .grid>.addbox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/13;
    grid-row: 1/4;
    padding: 0;
    align-self: start;
    justify-items: center;
}
.addbox>.addbox-one{
    grid-column: 1/3;
    grid-row: 1/3;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 4em 2em;
    text-align: center;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    width: 50%;
}
#form-body{
    padding: 1.5em;
}
#form-body #btnSubmitForm{
    display:none; 
    margin-top: .7em;
}
.addbox > .addbox-two{
    grid-column: 1/3;
    grid-row: 3/4;
    padding: 1em;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: none;
    background: rgba(0, 0, 0, .05);
    width: 100%;
    text-align: end;
    justify-self: end;
}
.mForm{
    display: none;
}
.mForm input{
    width: 100%;
    border: 1px solid #bbb;
    padding: .3em .5em;
    padding-left:1em;
    border-radius: 1px; 
    margin: .7em 0;
    outline: none;
}
.Header{
    width:1em; 
    text-align:center;
}
.td{
    padding: 10px;
}
.searchbox{
    width: 25%;
    float: left;
    display: block;
    position: relative;
    background: none;
    border: none;
    border-bottom: 1px solid #ddd;
}
.searchbox > input[type="search"]{
    background: none;
    border: none;
    width: 86%;
    float: left;
    padding: 6px 10px;
    letter-spacing: .8px;
    outline: none;
}
.searchbox > input[type="search"]::placeholder{
    letter-spacing: .8px;
}
.searchbox > button{
    background: none;
    border: none;
    color: rgba(49, 79, 79, 1);
    width: 14%;
    text-align: right;
    font-size: 18px;
    padding-top: 3px;
}
#root{
    background: #f2f2f2; 
    border: 1px solid #eee; 
    border-top: none; 
    width:22.4%; 
    margin-top:-6px;
    display:none; 
    height: auto; 
    padding: 1em 0; 
    position: absolute; 
    overflow-x: hidden; 
    color: #aaa;
}
#root > ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%; 
}
#root > ul>li{
    cursor: pointer;
    display: block;
    color: #aaa;
    text-align: left;
    padding: 0 1em;
    letter-spacing: 1px;
    text-decoration: none;
}
tbody > tr:hover{
    cursor: pointer;
}
.modal, .deleteModal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content{
    background-color: #fefefe;
    margin: 4% auto;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: none;
    border-radius: 0;
    width: 40%;
}
.modal-content .modal-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.5em;
}
.modal-grid > .modal-box1{
    grid-column: 1/7;
}
.modal-grid > .modal-box2{
    grid-column: 7/13;
}
.modal-grid > .modal-box4{
    grid-column: 1/7;
}
.modal-grid > .modal-box5{
    grid-column: 7/13;
}
.modal-grid > .modal-box6{
    grid-column: 1/7;
}
.modal-grid > .modal-box7{
    grid-column: 7/13
}
.modal-grid > .modal-box9{
    grid-column: 9/13;
}
.modal-grid > .modal-box10{
    grid-column: 1/7;
}
.modal-grid > .modal-box11{
    grid-column: 7/13;
}
.modal-grid > .modal-box3{
    grid-column: 1/13;
}
.modal-grid > .modal-box8{
    grid-column: 1/9;
}
.deleteModal .modal-content{
    width: 20%;
    margin: 18% auto;
    text-align: center;
}
.modal-content input{
    width: 100%;
    padding: 0 .8em;
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: lighter;
}
.close:hover, .close:focus{
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: lighter;
}
.modal-content label{
    padding: .8em 0 .2em;
    margin: 0;
    color: gray;
    font-weight: bold;
}
.modal-content input{
    border: 1px solid #ddd;
    padding: .3em .5em;
    border-radius: 1px; 
}
.modal-content input[name="school_name"]{
    cursor:not-allowed;
    color: #AAA;
    background: #eee;
}
.buttonBox{
    padding: 1em 0 0;
}





@media screen and (max-width : 600px){
    .navbar{
        z-index: 0;
    }
    .searchbox{
        width: 34%;
    }
    .searchbox > input[type="search"]{
        width: 84%;
    }
    .searchbox > button{
        width: 16%;
    }
    .grid > .tablebox{
        grid-column: 1/13;
        position: relative;
        overflow: auto;
        font-size: 12px;
    }
    .modal-content{
        width: 70%;
        z-index: 3000;
    }
    .deleteModal .modal-content{
        width: 50%;
        margin: 20em auto;
        font-size: 13px;
    }
    .modal-grid{
        grid-gap: 1.5em;
    }
    .modal-content label{
        padding: 0;
        width: 100%;
        font-size: 12px
    }
    .modal-content input, .buttonBox{
        font-size: 12px;
    }
    #add-teacher .grid>.addbox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/13;
    grid-row: 1/4;
    padding: 0;
    align-self: start;
}
    .addbox > .addbox-one{
        width: 100%;
    }
    .mForm{
        font-size: 12px;
    }
}